/* Variables
   ========================================================================== */

#header-bg {
  background: url('/img/bg.jpeg') no-repeat center;
  background-size: cover;
  height: 400px;
  filter: brightness(.8);
}

#homepage-first-desc {
  margin-top: 15px;
}

/* COMPONENTS
   ========================================================================== */
#header-bg div {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 4rem;
  line-height: 4rem;
  top: -300px;
}

/*  FROM MAGICMONKEYCSS
   ========================================================================== */

.pos-abs-middle-center {
  position: absolute;
  left: 50%;
  right: initial;
  top: 50%;
  bottom: initial;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pos-rel {
  position: relative;
}

.anim-top {
  -webkit-animation: animatetop .7s forwards;
  -moz-animation: animatetop .7s forwards;
  -o-animation: animatetop .7s forwards;
  animation: animatetop .7s forwards;
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
    visibility: visible;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@-moz-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
    visibility: visible;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@-o-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
    visibility: visible;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
    visibility: visible;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}

/*  RESPONSIVE MEDIA
   ========================================================================== */

@media only screen and (max-width: 760px) {
  #header-bg span {
    font-size: 2rem;
  }
}
