/* Variables
   ========================================================================== */

#header-bg {
  background: url('/img/bg.jpeg') no-repeat center;
  background-size: cover;
  height: 400px;
  filter: brightness(.8);
}

#homepage-first-desc {
  margin-top: 15px;
}

/* COMPONENTS
   ========================================================================== */
